<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <!-- <h1 class="display-3"></h1>
    <hr> -->
    <img src="/images/farewell_text_img.svg" alt="farewell_image">
  
   <div class="anchor">
  <a class="btn btn-light btn-lg" href="/Initiator-login" role="button">Initiator Login</a>
    <a class="btn btn-dark btn-lg" href="/Student-login" role="button">Student Login</a>
    <a class="btn btn-dark btn-lg" href="/Student-register" role="button">Student Register</a>
  </div>
</div>
</div>

<%- include('partials/footer') %>
