<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Reset password
    <form action="/password-entry" method="post">
        <label>New Password</label>
        <input type="hidden" name="rollnumber" value="<%=locals.rollnumber %>">
        <input type="hidden" name="email" value="<%=locals.email%>">
        <input type="password" name="pass1" placeholder="Enter PassWord">
        <label>Renter Password</label>
        <input type="password" name="pass2" placeholder="Re-Enter PassWord">
        <button type="submit">Reset</button>
    </form>
</body>
</html>