<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/studentlogin.css">
</head>
<body>
    student login
    <form action="/Farewell-party" method="post">
    <label>Rollnumber</label>
    <input type="text" name="rollnumber" placeholder="Enter Rollnumber..">
    <label>Email</label>
    <input type="text" name="email" placeholder="Enter Email..">
    <label>Password</label>
    <input type="password" name="password" placeholder="I_lov_develop...">
    <button type="submit">Login</button>
</form>
</body>
</html>